<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361698027401-fd5j3t8orhq26fevlmrcf7thqmdt324c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361698027401-fd5j3t8orhq26fevlmrcf7thqmdt324c</string>
	<key>API_KEY</key>
	<string>AIzaSyA3-I-WhP7av5w5mPIKIufLpujX__uAq70</string>
	<key>GCM_SENDER_ID</key>
	<string>361698027401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toughtechs.tt151attendants</string>
	<key>PROJECT_ID</key>
	<string>attendant-b4459</string>
	<key>STORAGE_BUCKET</key>
	<string>attendant-b4459.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361698027401:ios:c3a3799e1ef26f683d2358</string>
</dict>
</plist>